on:
  push:
  workflow_dispatch:

jobs:
  test-everywhere:
    name: Test All Platforms
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        version: ["2025", "2019", "2022", "2017", "2016"]
        exclude:
            - os: ubuntu-latest
              version: "2017"
            - os: ubuntu-latest
              version: "2016"
            - os: macOS-latest
              version: "2017"
            - os: macOS-latest
              version: "2016"
            - os: macOS-latest
              version: "2019"
            - os: macOS-latest
              version: "2022"
            - os: macOS-latest
              version: "2025"

    steps:
      - uses: actions/checkout@v4

      - name: Install sqlengine with full-text search
        uses: ./
        with:
          install: sqlengine,fulltext,ssis
          sa-password: dbatools.I0
          show-log: true
          collation: Latin1_General_BIN
          version: ${{ matrix.version }}

      - name: Install sqlclient
        uses: ./
        with:
          install: sqlclient
          show-log: true

      - name: Install sqlpackage
        uses: ./
        with:
          install: sqlpackage
          show-log: true

      - name: Install localdb
        uses: ./
        with:
          install: localdb
          version: ${{ matrix.version }}
          show-log: true

      - name: Run sqlcmd
        run: sqlcmd -S localhost -U sa -P dbatools.I0 -d tempdb -Q "SELECT @@version;" -C

      - name: Check collation
        shell: pwsh
        run: |
          ./Test-Collation -ExpectedCollation Latin1_General_BIN -UserName sa -Password dbatools.I0

      - name: Check full-text search enabled
        shell: pwsh
        run: |
          ./Test-FullTextSearch -UserName sa -Password dbatools.I0 -ExpectedStatus Running

      - name: Check SSISDB catalog (Windows only)
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          ./Test-SSISCatalog -UserName sa -Password dbatools.I0

